.jumbotron{
    background-image: url('/assets/img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        text-shadow: 2px 5px 3px #070606;
      }
      h2 {
        text-shadow: 2px 5px 3px #000000;
      }
   }
